* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    overflow: hidden;
}

body {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

.canvasWrapper {
    /* height: 90vmin; */
    width: 90vmin;
    border: solid 2px lightgray;
    flex: 1 0 auto;
}

.tools {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
}

.tools label {
    margin-top: 10px;
}

div {
    margin: 10px;
}

button {
    margin-top: 10px;
    visibility: hidden;
}

p {
    word-wrap: normal;
    max-width: 250px;
    visibility: hidden;
}