* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    overflow: hidden;
}

body {
    display: flex;
    flex-wrap: wrap;
}

#drawing {
    height: 80vmin;
    width: 80vmin;
    border: solid 2px lightgray;
    flex: 0 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.tools {
    display: flex;
    flex-flow: column wrap;
    flex: 0 1 auto;
}

div {
    margin: 10px;
}
